<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-school`
@demo demo/campus-core-school.html
-->
<dom-module id="campus-core-school">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
        
        :host .cell-container {
            padding: 16px 8px;
        }
        
        :host .cell-item1 {
            padding: 0 8px;
            flex: 2 1 240px;
        }
        
        :host .cell-item2 {
            padding: 0 8px;
            flex: 1 1 120px;
        }
        
        :host .header {
            padding: 0 16px;
            max-width: 768px;
        }
        
        :host .content {
            max-width: 768px;
        }
        
        @media (min-width: 769px) {
            :host .header {
                padding: 0 16px;
                margin: 0 auto;
            }
            :host .content {
                padding: 12px;
                margin: 0 auto;
            }
        }
    </style>
    <template>
        <paper-header-panel mode="waterfall">
            <paper-toolbar>
                <div class="flex-auto layout horizontal center header">
                    <div class="title">{{schoolInfo.ChineseName}}</div>
                    <paper-icon-button icon="done" on-tap="_accept" save></paper-icon-button>
                    <paper-icon-button icon="refresh" on-tap="_cancel" refresh></paper-icon-button>
                </div>
            </paper-toolbar>
            <div class="content">
                <paper-material style="background:#fff">
                    <div class="layout horizontal center" style="padding:16px">
                        <paper-input style="width:120px" label="[[translate._01]]" value="{{systemConfig.DefaultSchoolYear}}"></paper-input>
                        <div style="width:16px"></div>
                        <paper-dropdown-menu style="width:120px" label="[[translate._02]]">
                            <paper-menu class="dropdown-content" selected="{{systemConfig.DefaultSemester}}" attr-for-selected="value">
                                <paper-item value="1">[[translate._13]]</paper-item>
                                <paper-item value="2">[[translate._14]]</paper-item>
                            </paper-menu>
                        </paper-dropdown-menu>
                    </div>
                    <div class="layout horizontal wrap cell-container">
                        <div class="layout vertical cell-item1">
                            <paper-input class="flex-auto" label="[[translate._03]]" value="{{schoolInfo.ChineseName}}"></paper-input>
                            <paper-input class="flex-auto" label="[[translate._04]]" value="{{schoolInfo.EnglishName}}"></paper-input>
                            <paper-input class="flex-auto" label="[[translate._05]]" value="{{schoolInfo.Address}}"></paper-input>
                            <paper-input class="flex-auto" label="[[translate._06]]" value="{{schoolInfo.EnglishAddress}}"></paper-input>
                            <div class="flex-auto layout horizontal">
                                <paper-input class="flex-auto" label="[[translate._07]]" value="{{schoolInfo.Telephone}}"></paper-input>
                                <div style="width:8px"></div>
                                <paper-input class="flex-auto" label="[[translate._08]]" value="{{schoolInfo.Fax}}"></paper-input>
                            </div>
                        </div>
                        <div class="layout vertical cell-item2">
                            <paper-input class="cell-item" label="[[translate._09]]" value="{{schoolInfo.ChancellorChineseName}}"></paper-input>
                            <paper-input class="cell-item" label="[[translate._10]]" value="{{schoolInfo.ChancellorEnglishName}}"></paper-input>
                            <paper-input class="cell-item" label="[[translate._11]]" value="{{schoolInfo.EduDirectorName}}"></paper-input>
                            <paper-input class="cell-item" label="[[translate._12]]" value="{{schoolInfo.StuDirectorName}}"></paper-input>
                        </div>
                    </div>
                </paper-material>
            </div>
        </paper-header-panel>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: 'campus-core-school',

            properties: {
                /*
                 * 學校 (zh-tw), 学校 (zh-cn), School (en-us), Trường (vi-vn)
                 */
                title: {
                    type: Object,
                    readOnly: true
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this._setTitle({
                    'zh-tw': '學校',
                    'zh-cn': '学校',
                    'en-us': 'School',
                    'vi-vn': 'Trường'
                });

                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_00': '學校',
                        '_01': '學年度',
                        '_02': '學期',
                        '_03': '中文名稱',
                        '_04': '英文名稱',
                        '_05': '中文地址',
                        '_06': '英文地址',
                        '_07': '電話',
                        '_08': '傳真',
                        '_09': '校長中文姓名',
                        '_10': '校長英文姓名',
                        '_11': '教務主任姓名',
                        '_12': '學務主任姓名',
                        '_13': '上學期',
                        '_14': '下學期',
                        '_15': '更新完成!',
                    },
                    'zh-cn': {
                        '_00': '学校',
                        '_01': '学年度',
                        '_02': '学期',
                        '_03': '中文名称',
                        '_04': '英文名称',
                        '_05': '中文地址',
                        '_06': '英文地址',
                        '_07': '电话',
                        '_08': '传真',
                        '_09': '校长中文姓名',
                        '_10': '校长英文姓名',
                        '_11': '教务主任姓名',
                        '_12': '学务主任姓名',
                        '_13': '上学期',
                        '_14': '下学期',
                        '_15': '更新完成!',
                    },
                    'en-us': {
                        '_00': 'School',
                        '_01': 'Year',
                        '_02': 'Semester',
                        '_03': 'Chinese Name',
                        '_04': 'English Name',
                        '_05': 'Chinese Address',
                        '_06': 'English Address',
                        '_07': 'Telephone',
                        '_08': 'Fax',
                        '_09': 'Chancellor Chinese Name',
                        '_10': 'Chancellor English Name',
                        '_11': 'Education Director Name',
                        '_12': 'Student Director Name',
                        '_13': '1',
                        '_14': '2',
                        '_15': 'Update completed!',
                    },
                    'vi-vn': {
                        '_00': 'Trường',
                        '_01': 'Năm học',
                        '_02': 'Học kỳ',
                        '_03': 'Tên tiếng trung',
                        '_04': 'Tên tiếng anh',
                        '_05': 'Địa chỉ tiếng trung',
                        '_06': 'Địa chỉ tiếng anh',
                        '_07': 'Điện thoại',
                        '_08': 'Fax',
                        '_09': 'Họ tên hiệu trưởng tiếng trung',
                        '_10': 'Họ tên hiểu trưởng tiếng anh',
                        '_11': 'Họ tên giáo viên chủ nhiệm',
                        '_12': 'Họ tên chủ nhiệm học vụ',
                        '_13': 'Học kỳ  đầu',
                        '_14': 'Học kỳ  sau',
                        '_15': 'Cập nhật hoàn thành!'
                    }
                });

                this._getSystemConfig();
                this._getSchoolInfo();
            },

            _getSystemConfig: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Config.GetSystemConfig',
                    body: '<FieldList><All/></FieldList>'
                };

                this.generateRequest(request, function(response) {
                    if (response && response.GetSystemConfigResponse) {
                        this.set('systemConfig', response.GetSystemConfigResponse.SystemConfig);
                    }
                }.bind(this));
            },

            _setSystemConfig: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Config.SetSystemConfig',
                    body: {
                        Request: {
                            SystemConfig: {
                                DefaultSchoolYear: this.systemConfig.DefaultSchoolYear,
                                DefaultSemester: this.systemConfig.DefaultSemester === '2' || this.systemConfig.DefaultSemester === this.translate._14 ? '2' : '1'
                            }
                        }
                    }
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.set('set_system_config_success', true);
                        this._showToast();
                    }
                }.bind(this));
            },

            _getSchoolInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Config.GetSchoolInfo',
                    body: '<FieldList><All/></FieldList>'
                };

                this.generateRequest(request, function(response) {
                    if (response && response.GetSchoolInfoResponse) {
                        this.set('schoolInfo', response.GetSchoolInfoResponse.SchoolInformation);
                    }
                }.bind(this));
            },

            _setSchoolInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Config.SetSchoolInfo',
                    body: {
                        Request: {
                            SchoolInformation: {
                                ChineseName: this.schoolInfo.ChineseName,
                                EnglishName: this.schoolInfo.EnglishName,
                                Address: this.schoolInfo.Address,
                                EnglishAddress: this.schoolInfo.EnglishAddress,
                                Telephone: this.schoolInfo.Telephone,
                                Fax: this.schoolInfo.Fax,
                                ChancellorChineseName: this.schoolInfo.ChancellorChineseName,
                                ChancellorEnglishName: this.schoolInfo.ChancellorEnglishName,
                                EduDirectorName: this.schoolInfo.EduDirectorName,
                                StuDirectorName: this.schoolInfo.StuDirectorName
                            }
                        }
                    }
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.set('set_school_info_success', true);
                        this._showToast();
                    }
                }.bind(this));
            },

            _cancel: function() {
                this._getSystemConfig();
                this._getSchoolInfo();
            },

            _accept: function() {
                this.set('set_system_config_success', false);
                this.set('set_school_info_success', false);

                this._setSystemConfig();
                this._setSchoolInfo();
            },

            _showToast: function() {
                if (this.set_system_config_success && this.set_school_info_success) {
                    this.$.toast.show({
                        text: this.translate._15,
                        duration: 1000
                    });

                    this._getSystemConfig();
                    this._getSchoolInfo();
                }
            },
        });
    </script>
</dom-module>
